/* Base */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
}
html {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

/* Main Content */
._3ditor-main {
  width: 1280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}

/* Header & Buttons */
._3ditor-header {
  background-color: #ecf0f1;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
._3ditor-header > ._3ditor-button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  margin-right: 20px;
}

/* WYSIWYG Content */
._3ditor-content {
  outline: none;
  min-height: 650px;
  border: 1px solid #ecf0f1;
  border-top: 0px;
  padding: 20px;
  background-color: rgb(221, 221, 221);
  color: black;
  font-size: 18pt;
}